<!DOCTYPE html>
<html lang="en">
    <head>
        <title>@Page.Title</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

        @UI.Head()

        <link rel="stylesheet" href="~/css/metro-bootstrap.css">
        <link rel="stylesheet" href="~/css/metro-bootstrap-responsive.css">
        <script src="~/js/jquery/jquery.min.js"></script>
        <script src="~/js/jquery/jquery.widget.min.js"></script>
        <script src="~/js/metro/metro.min.js"></script>

        @RenderSection("head", required: false)
    </head>
    <body class="metro">
        <header class="bg-dark">
            <div class="navigation-bar dark">
                <div class="navigation-bar-content container">
                    <nav class="navigation-bar dark">
                        <nav class="navigation-bar-content">
                                @UI.Menu(StopLevel: 1)
                        </nav>
                    </nav>
                </div>
            </div>

        </header>

    <div class="">
        <div>
            <div class="container" style="padding: 50px 20px">
                <h1 class="fg-white"><a href="~/">@Site.SiteTitle</a></h1>
                <h2 class="fg-white">
                   @Site.SiteDescription
                </h2>
            </div>
        </div>

        <div class="container">
            @RenderBody()
        </div>

        <div class="bg-dark">
            <div class="container tertiary-text bg-dark fg-white" style="padding: 10px">
                &copy; 2012-2013 Noone Corp.
            </div>
        </div>
    </div>


    </body>
    @RenderSection("script", required: false)
</html>